.userNameContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nameOfUser {
  color: var(--bg-color);
  font-size: 20px;
  height: 30px;
  width: 120px;
  background-color: var(--green2);
  border-radius: 5px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--accent-color1);
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.adsImage {
  padding-bottom: 30px;
  max-width: 25vw;
}

.text {
  color: var(--accent-color1);
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.adsButtonsBox {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.adsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 0;
  margin: 0;
  padding: 20px;
  margin-top: 30px;
  font-size: 35px;
  background-color: var(--accent-color2);
  color: var(--bg-color);
  border: none;
  border-radius: 13px;
}

.adsButton:hover {
  background-color: var(--bg-color);
  color: var(--accent-color1);
}

.adsButton:active {
  background-color: var(--green2);
}

@media (max-width: 1024px) {
  .adsButtonsBox {
    display: block;
  }
}
