.headingTop {
  font-size: 40px;
  color: #FFF;
  text-align: center;
  padding-bottom: 10px;
	padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1920px) {
  .headingTop {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  .headingTop {
    font-size: 30px;
  }
}
