.userNameContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}
.nameOfUser {
  color: var(--bg-color);
  font-size: 20px;
  height: 30px;
  width: 120px;
  background-color: var(--green2);
  border-radius: 5px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--accent-color1);
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.text {
  color: var(--accent-color1);
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.boxABCD {
  display: block;
  justify-content: space-between;
}
.boxAB {
  display: flex;
  gap: 10px;
}
.boxCD {
  display: flex;
  gap: 10px;
}
.answerBox {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--accent-color1);
  font-size: 25px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
}
input[type="radio"] {
  appearance: none;
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: var(--accent-color1);
}
.nextbutton {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  background-color: var(--accent-color2);
  color: var(--bg-color);
  border: none;
  padding: 20px;
  width: 300px;
  border-radius: 13px;
}
.nextbutton:hover {
  background-color: var(--bg-color);
  color: var(--accent-color1);
}
.nextbutton:active {
  background-color: var(--green2);
}

/* @media (max-width: 360px) {
  .containerTransparent {
    background-color: var(--green1);
  }
  .heading {
    padding-top: 10px;
    font-size: 35px;
  }
  .boxABCD {
    margin: 0 auto;
    width: 80vw;
  }
  .boxAB {
    display: block;
    gap: 10px;
  }
  .boxCD {
    display: block;
    gap: 10px;
  }
  .answerBox {
    width: 80vw;
    box-sizing: border-box;
    border-radius: 7px;
    padding-left: 5px;
    height: 80px;
    font-size: 22px;
  }
  .nextbutton {
    margin-top: 20px;
    font-size: 25px;
    padding: 15px 60px;
    width: 200px;
    border-radius: 9px;
    box-sizing: border-box;
  }
  .text {
    font-size: 23px;
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  .containerTransparent {
    width: 85vw;
    margin: 0 auto;
    padding-top: 20px;
  }
  .heading {
    padding-top: 10px;
    font-size: 35px;
  }
  .boxABCD {
    margin: 0 auto;
    width: 80vw;
  }
  .boxAB {
    display: block;
    gap: 10px;
  }
  .boxCD {
    display: block;
    gap: 10px;
  }
  .answerBox {
    width: 80vw;
    box-sizing: border-box;
    border-radius: 9px;
    padding-left: 5px;
    height: 80px;
    font-size: 22px;
  }
  .nextbutton {
    display: block;
    font-size: 25px;
    padding: 15px 60px;
    width: 200px;
    border-radius: 9px;
  }
  .text {
    font-size: 23px;
  }
} */

/* @media (min-width: 769px) and (max-width: 1280px) {
  .containerTransparent {
    width: 85vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .answerBox {
    height: 70px;
    font-size: 22px;
  }
} */
@media (min-width: 1281px) and (max-width: 1920px) {
	.container {
		display: block;
		margin: 0;
		padding: 0;
		margin: 0 auto;
		background-color: var(--green1);
		width: 80vw;
		padding: 30px;
		border-radius: 20px;
	}
  .containerTransparent {
    width: 80vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .boxABCD {
    margin: 0 auto;
    width: 80vw;
  }
}
/* @media (min-width: 1921px) {
  .containerTransparent {
    width: 80vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .boxABCD {
    margin: 0 auto;
    width: 80vw;
  }
} */
