.userNameContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nameOfUser {
  color: var(--bg-color);
  font-size: 20px;
  height: 30px;
  width: 120px;
  background-color: var(--green2);
  border-radius: 5px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--accent-color1);
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: var(--accent-color1);
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.boxAB {
  /* background-color: pink; */
  display: flex;
  gap: 10px;
}

.boxCD {
  /* background-color: rgb(244, 208, 160); */
  display: flex;
  gap: 10px;
}
.answerBox {
  width: 30vw;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--accent-color1);
  font-size: 25px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
}

input[type="radio"] {
  appearance: none;
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--accent-color1);
}

.nextbutton {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  background-color: var(--accent-color2);
  color: var(--bg-color);
  border: none;
  padding: 20px;
  width: 300px;
  border-radius: 13px;
}

.nextbutton:hover {
  background-color: var(--bg-color);
  color: var(--accent-color1);
}

.nextbutton:active {
  background-color: var(--green2);
}

.buttongame {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--accent-color);
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.buttongame:hover {
  background-color: var(--green2);
  color: var(--bg-color);
}

.buttongame:active {
  background-color: var(--accent-color2);
  color: #000;
}

@media (max-width: 1024px) {
  .boxAB {
    display: block;
  }
  .boxCD {
    display: block;
  }
  .answerBox {
    width: 100%;
  }
  .text {
    font-size: 25px;
  }
}
