#root {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: var(--green1);
}
.container {
  margin: 0;
  padding: 0;
  background-color: var(--green1);
  padding: 30px;
  width: 50%;
  height: 90%;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
}

/* button {
  margin: 20px 5px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
} */
