:root {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --accent-color1: #754668;
  --accent-color2: #587d71;
  --green1: #b5dda4;
  --green2: #4daa57;
  --bg-color: #f9eccc;
  --red-color: #ffcccc;
}
