.userNameContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nameOfUser {
  color: var(--bg-color);
  font-size: 20px;
  height: 30px;
  width: 120px;
  background-color: var(--green2);
  border-radius: 5px;
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--accent-color1);
  font-size: 40px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: var(--accent-color1);
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.yellowBox {
  width: 30vw;
  min-width: 270px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 15px;
  line-height: 1.7;
}

.emoji1 {
  font-size: 60px;
  margin: 0;
  text-align: center;
}
.resultbutton {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  background-color: var(--accent-color2);
  color: var(--bg-color);
  border: none;
  padding: 20px;
  width: 300px;
  border-radius: 13px;
}

.resultbutton:hover {
  background-color: var(--bg-color);
  color: var(--accent-color1);
}

.resultbutton:active {
  background-color: var(--green2);
}

@media (max-width: 360px) {
  .heading {
    padding-top: 20px;
    font-size: 35px;
  }
  .text {
    font-size: 25px;
  }
  .resultbutton {
    width: 200px;
    font-size: 25px;
    padding: 15px;
    border-radius: 9px;
    margin-top: 40px;
    box-sizing: border-box;
  }
}
